@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --foreground: #1f2937;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0f0f0;
    --foreground: #1f2937;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*
h1 {
  text-align: center;
  color: #333333;
  font-size: 9rem;
  font-weight: 700;
  margin: 5% 5% 5% 5%;
}

body, .section-2, .upload_file, .section-4, .section-5, .section-6, .section-7{
  background: #f0f0f0;
  flex-direction: column;
  justify-content: center;
}
body, .section-2, .upload_file, .customization_options, .dataLabelsContainer, .section-7{
  display: flex;
}

.btn, .btn_option, .upload_file label, .list_item {
  color: #f0f0f0;
  font-weight: 700;
  border-style: none;
  letter-spacing: 1px;
  box-shadow: 0 4px 12px -2px rgba(0,0,0,0.4);
  transition: all 200ms ease;
}

.btn, .upload_file label, .list_item{
  background-image: linear-gradient(to bottom right, #2ccbc3, #1b988f);
}

.btn, .btn_option, .upload_file label{
  text-transform: uppercase;
}

.btn_option, .list_item{
  margin: 4px 4px;
  padding: 8px 12px;
  font-size: 0.6rem;
  border-radius: 4px;
  background-image: linear-gradient(to bottom right, #ffa369, #ff7632);
}

.btn, .upload_file label {
  margin: 8px auto;
  padding: 16px 20px;
  font-size: 1rem;
  border-radius: 12px;
}

.btn:hover, .upload_file label:hover, .btn_option:hover, .list_item:hover {
  transform: scale(1.04);
  box-shadow: 0 5px 16px -7px rgba(0,0,0,0.4);
}
.btn:hover, .upload_file label:hover{
  background-image: linear-gradient(to bottom right, #2bb3ac, #259286);
}
.btn_option:hover, .list_item:hover{
  background-image: linear-gradient(to bottom right, #ff914b, #ff661a);
}

.upload_file label{
  cursor: pointer;
}

.section-3 {
  background: #333333 none;
  color: #f0f0f0;
  padding: 12px 5% 12px 5%;
}
.section-3 p{
  margin: 12px 0;
}

.section-4 h3{
  font-size: 1.3rem;
  margin: 8px auto 0;
  color: #333333;
}

.customization_options, .dataLabelsContainer{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px 8px;
}

.chart_container canvas, .chart_container{
  border-radius: 15px;
}
.chart_container{
  height: 600px;
  width: 90%;
  overflow: scroll;
  padding: 0;
  margin: 1% auto;
  box-shadow: 0 4px 20px -20px rgba(0,0,0,0.4);
}
.chart_container canvas{
  height: 1000px;
  width: 1600px;
}

.hidden_on_start, .upload_file input{
  display: none;
}

body footer{
  margin-top: 1%;
  margin-bottom: 0;
  padding: 32px 0;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  width: 100vw;
  background: #333333 none;
  color: #f0f0f0;
  text-align: center;
  display: block;
  overflow: hidden;
}

.fileList{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.list_item{
  max-width: 98%;
  font-size: 1rem;
}

.input_text {
  max-width: 5lh;
}

.img-container{
  position: relative;
  aspect-ratio: 1.5;
  width: 40%;
  height: auto;
  margin: 1% auto;
}
.shirt-img{
  position: relative;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 20px -20px rgba(0,0,0,0.4);
}
.chart-on-shirt-img{
  width: 100%;
  border-radius: 8px;
}
.img-overlay{
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
}
*/